<div id="<%= dom_id cover_letter %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cover_letter.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company name:</strong>
    <%= cover_letter.company_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company url:</strong>
    <%= cover_letter.company_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Job url:</strong>
    <%= cover_letter.job_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= cover_letter.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= cover_letter.active? ? "Yes" : "No" %>
  </div>
</div>
