<%# locals: (cover_letter:)%>
<%= form_with(model: cover_letter, class: "contents", data: { controller: "form", "form-target": "form" }) do |form| %>
  <div class="w-full">
    <div class="w-full mt-2 mb-14">
      <% if cover_letter.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
          <h2><%= pluralize(cover_letter.errors.count, "error") %> prohibited this cover letter from being saved:</h2>

          <ul class="list-disc ml-6">
            <% cover_letter.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="cover-letter border-1 border-gray-400 p-2 m-0 mb-2 shadow-lg">
        <fieldset>
          <div class="my-3">
            <%= form.label :name, class: "small-label" %>
            <%= form.text_field :name, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :company_name, class: "small-label" %>
            <%= form.text_field :company_name, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :company_url, class: "small-label" %>
            <%= form.text_field :company_url, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :job_url, class: "small-label" %>
            <%= form.text_field :job_url, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :content, class: "small-label" %>
            <div class="border-2 border-dashed border-gray-400 p-2 my-2">
              <%= form.textarea :content, class: "input-field h-auto", rows: 10 %>
            </div>
          </div>

          <div class="my-3 flex gap-2">
            <%= form.checkbox :active, class: "checkbox" %>
            <%= form.label :active, class: "small-label" %>
          </div>

          <div class="nojs-control w-full my-3 text-center">
            <%= form.submit "Save", class: "button button-green" %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>
