<%= form_with(model: cover_letter, class: "contents") do |form| %>
  <% if cover_letter.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(cover_letter.errors.count, "error") %> prohibited this cover_letter from being saved:</h2>

      <ul class="list-disc ml-6">
        <% cover_letter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:name].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:company_name].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:company_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :company_url %>
    <%= form.text_field :company_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:company_url].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:company_url].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :job_url %>
    <%= form.text_field :job_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:job_url].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:job_url].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.textarea :content, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:content].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:content].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :active %>
    <%= form.checkbox :active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": cover_letter.errors[:active].none?, "border-red-400 focus:outline-red-600": cover_letter.errors[:active].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
