<%# locals: (cover_letter:)%>
<% if cover_letter.errors.any? %>
  <%=  render "layouts/errors", errors: cover_letter.errors %>
<% end %>

<%= form_with(model: cover_letter, class: "contents", data: { controller: "form trix", "form-target": "form" }) do |form| %>
  <div class="w-full">
    <div class="w-full mt-2 mb-14">
      <div class="cover-letter border-1 border-gray-400 p-2 m-0 mb-2 shadow-lg">
        <fieldset>
          <div class="my-3">
            <%= form.label :name, class: "small-label" %>
            <%= form.text_field :name, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :company_name, class: "small-label" %>
            <%= form.text_field :company_name, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :company_url, class: "small-label" %>
            <%= form.text_field :company_url, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :job_url, class: "small-label" %>
            <%= form.text_field :job_url, class: "input-field" %>
          </div>

          <div class="my-3">
            <%= form.label :content, class: "small-label" %>
            <div class="border-2 border-dashed border-gray-400 p-2 my-2">
              <%#%= form.textarea :content, class: "input-field h-auto", rows: 10 %>
              <%= form.rich_textarea :content, class: "trix-content" %>
            </div>
          </div>

          <div class="my-3 flex gap-2">
            <%= form.checkbox :active, class: "checkbox" %>
            <%= form.label :active, class: "small-label" %>
          </div>

          <div class="nojs-control w-full my-3 text-center">
            <%= form.submit "Save", class: "button button-green" %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>
