<% content_for :title, "Cover letter" %>

<% content_for :nav_left do %>
  <%= render "layouts/controls/cover_letter/edit", cover_letter: @cover_letter %>
<% end %>

<% content_for :nav_right do %>
  <%= render "layouts/controls/download_json", model: @cover_letter %>
  <%= render "layouts/controls/print" %>
  <%= render "layouts/controls/cover_letter/preview", cover_letter: @cover_letter %>
<% end %>

<div id="<%= dom_id @cover_letter %>" class="my-2 px-2 py-4 space-y-4 rounded-xl border-2 border-gray-400 shadow-lg print:hidden">
  <div>
    <strong class="font-bold">ID:</strong>
    <%= @cover_letter.id %>
  </div>
  <div>
    <strong class="font-bold">Name:</strong>
    <%= @cover_letter.name %>
  </div>
  <div>
    <strong class="font-bold">Company name:</strong>
    <%= @cover_letter.company_name %>
  </div>
  <div>
    <strong class="font-bold">Company url:</strong>
    <%= @cover_letter.company_url %>
  </div>
  <div>
    <strong class="font-bold">Job url:</strong>
    <%= @cover_letter.job_url %>
  </div>
  <div>
    <strong class="font-bold">Active:</strong>
    <%= @cover_letter.active? ? "Yes" : "No" %>
  </div>
</div>

<div class="print:block">
  <%= @cover_letter.content %>
</div>
