<%= turbo_frame_tag(dom_id(cv)) do %>
  <div class="header pl-2 rounded-lg border-2 border-gray-400">
    <h1 class="name mt-2 font-bold text-3xl">
      <%= cv.name %>
    </h1>

    <h2 class="specialization mt-1 font-bold text-gray-500 text-2xl">
      <%= cv.intro_line %>
    </h2>

    <div class="contacts my-2 text-gray-500 font-medium">
      <div class="w-full flex gap-2 inline-block align-middle">
        <%= render contact_icon_partial(:email) %>
        <span><%= cv.email_address %></span>
      </div>

      <% cv.contacts.each do |contact| %>
        <div class="w-full flex gap-2 inline-block align-middle">
          <%= render contact_icon_partial(contact.contact_type) %>
          <span><%= contact.value %></span>
        </div>
      <% end %>
    </div>

  </div>

  <div class="mt-2 p-1 border-2 border-gray-400 rounded-lg sm:flex sm:justify-between">
    <div class="education mt-0 ml-1 sm:min-w-3/5">
      <h2 class="mb-2 font-bold text-2xl"><%= cv.education_label %></h2>
      <% cv.education_items.each do |education_item| %>
        <p class="font-bold"><%= education_item.name %></p>
        <p class="font-medium text-gray-500"><%= education_item.location %></p>
        <p class="italic text-gray-500"><%= education_item.date %></p>
      <% end %>
    </div>
    <div class="languages mt-2 sm:mr-4 sm:mt-0">
      <h2 class="mb-2 font-bold text-2xl"><%= cv.languages_label %></h2>
      <% cv.languages.each do |language| %>
        <p class="font-bold"><%= language.name %></p>
        <p class="w-1/2 mb-2 font-medium text-gray-500"><%= language.level %></p>
      <% end %>
    </div>
  </div>

  <%= page_break(@cv, "after_education") %>

  <div class="summary mt-2 p-1 pl-2 border-2 border-gray-400 rounded-lg">
    <h2 class="font-bold text-2xl"><%= cv.intro_text_label %></h2>
    <p class="my-2"><%= simple_format cv.intro_text, class: "mb-3" %></p>
  </div>

  <%= page_break(@cv, "after_intro_text") %>

  <div class="experiences mt-2 p-1 pl-2 border-2 border-gray-400 rounded-lg">
    <h2 class="font-bold text-2xl"><%= cv.work_experience_label %></h2>

    <% cv.work_experiences.each_with_index do |work_experience, position| %>
      <div class="mt-6 break-inside-avoid-page">
        <h3 class="font-bold text-xl"><%= work_experience.title %></h3>
        <p class="text-gray-500">
          <% if work_experience.entity.present?%>
            <span class="font-bold text-lg"><%= work_experience.entity %></span>
          <% end %>
          <% if work_experience.entity_uri.present?%>
            <span class="italic">(<%= work_experience.entity_uri %>)</span>
          <% end %>
        </p>
        <p class="font-semibold text-md text-gray-500">
          <%= work_experience.period %>
        </p>
        <p class="my-1"><%= simple_format work_experience.description, class: "mb-3" %></p>
        <% if work_experience.has_tags? %>
          <div class="mt-2">
            <% work_experience.tags_array.each do |tag| %>
              <div class="pill"><span><%= tag %></span></div>
            <% end %>
          </div>
        <% end %>
      </div>

      <%  if page_break?(@cv, "after_work_experience", position:) %>
          <p class="mt-1 italic font-sm font-medium font-gray-400"><%= cv.work_experience_continues_label %></p>
        </div>
        <%= page_break(@cv, "after_work_experience", position:) %>
        <div class="experiences mt-2 p-1 pl-2 border-2 border-gray-400 rounded-lg">
          <h2 class="font-bold text-2xl"><%= cv.work_experience_continued_label %></h2>
      <% end %>

    <% end %>
  </div>
<% end %>
