<div id="<%= dom_id cv %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cv.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= cv.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Intro line:</strong>
    <%= cv.intro_line %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Intro text:</strong>
    <%= cv.intro_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Base filename:</strong>
    <%= cv.base_filename %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Language:</strong>
    <%= cv.language %>
  </div>
</div>
