<% content_for :title, "Cv" %>

<% content_for :nav_left do %>
  <%= render partial: "layouts/controls/top_page_link" %>
  <%= link_to "To index", cvs_path, class: "button" %>
  <%= link_to "Edit", cvs_path, class: "button" %>
<% end %>

<% content_for :nav_right do %>
  <%= render partial: "layouts/controls/download_pdf", locals: { cv: @cv } %>
  <%= render partial: "layouts/controls/preview_link", locals: { cv: @cv } %>
<% end %>

<div class="mx-auto mb-1">
  <%= render @cv %>
</div>
