<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My CV" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  </head>

  <body class="bg-gray-100">
    <header class="w-full
                   top-bar bg-gray-100 z-50
                   border-b border-gray-400
                   shadow-sm shadow-gray-500
                   fixed h-15 top-0 left-0 right-0
                   flex justify-start">

      <div class="my-2 pl-1 pr-2 content-center font-bold text-xl border-r-2 border-gray-400">
        <%= link_to "MyCV", cvs_path, alt: "To Index", title: "To Index"%>
      </div>
      <h1 class="nav-title text-nowrap ml-2 content-center text-xl font-bold">
        <%= content_for(:title) || "" %>
      </h1>

      <nav class="w-full mx-2 sm:mx-6 flex justify-between">
        <div class="nav-left my-1 px-2 content-center border-2 border-gray-400 rounded-lg">
          <div class="flex gap-2"><%= yield :nav_left %></div>
        </div>

        <div class="nav-right my-1 ml-2 px-2 content-center border-2 border-gray-400 rounded-lg">
          <div class="flex gap-2"><%= yield :nav_right %></div>
        </div>
      </nav>
    </header>

    <main class="container mt-17 px-1 flex sm:px-0 sm:mx-auto">
      <div class="w-full">
        <%=  render partial: "layouts/notice" %>

        <%= yield %>

      </div>
    </main>
    <a name="page-end"></a>
  </body>
</html>
